body {
    background-image: url("../images/freshprince.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#wrapper {
    background-color: rgb(126, 115, 115, .65);
}

