.jumbotron {
    text-align: center;
}

h1 {
    padding-bottom: 50px;
}



.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.row {
    font-size: 28px;
    margin-top: 15px;
}

.row, #start {
    text-align: center;
    margin-top: 15px;
}

#questions {
    font-weight: bold;
}



.choices {
    font-weight : normal;

}

.choices:hover  {
    background-color : rgb(44, 40, 240);
    
}